/* Navbar styling */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

