/* Hero styling */
:root {
    --hero-multiplier: 1;
}

section {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.navbar-space {
    height: 10vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
}

.hero {
    display: inline;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .space {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .break {
        display: none; /* hide it elsewhere */
    }
}