section {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.navbar-space {
    height: 10vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
}

.intro {
    align-self: start;
    padding: 0px 0px 20px 2vw;
}

.i-am-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.i-am {
    padding: calc(10px + 1vw);
}

.stack {
    position: relative;
    width: 25vw;
    height: calc(10vh + 30px);
}

.description {
    border-radius: calc(0.5em + 5px);
    border-color: white;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    position: absolute;
    display: inline;
    font-size: var(--font-size-txt);
    box-shadow: 0px 0px 10px 5px rgb(191, 191, 191);
    left: 0;
    top: 0;
}

.hero {
    display: inline;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .space {
        display: none;
    }
    
    .i-am-container {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .break {
        display: none;
        /* hide it elsewhere */
    }
}